################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/4BIO.Test.API/FileContentIndex
/4BIO.Test.API/bin/Debug/net9.0/ClientDb.json
