################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/4BIO.Test.API/FileContentIndex
/4BIO.Test.API/bin/Debug/net9.0/ClientDb.json
/.vs/4BIO.Test.API/v17/.suo
/.vs/4BIO.Test.API/v17/DocumentLayout.backup.json
/.vs/4BIO.Test.API/v17/DocumentLayout.json
/.vs/ProjectEvaluation/4bio.test.api.metadata.v9.bin
/.vs/ProjectEvaluation/4bio.test.api.projects.v9.bin
/.vs/ProjectEvaluation/4bio.test.api.strings.v9.bin
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.API.dll
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.API.exe
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.API.pdb
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.Application.dll
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.Application.pdb
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.Data.dll
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.Data.pdb
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.Domain.dll
/4BIO.Test.API/bin/Debug/net9.0/4BIO.Test.Domain.pdb
/4BIO.Test.API/obj/Debug/net9.0/4BIO.Test.API.AssemblyInfo.cs
/4BIO.Test.API/obj/Debug/net9.0/4BIO.Test.API.AssemblyInfoInputs.cache
/4BIO.Test.API/obj/Debug/net9.0/4BIO.Test.API.csproj.AssemblyReference.cache
/4BIO.Test.API/obj/Debug/net9.0/4BIO.Test.API.dll
/4BIO.Test.API/obj/Debug/net9.0/4BIO.Test.API.pdb
/4BIO.Test.API/obj/Debug/net9.0/4BIO.Test.API.sourcelink.json
/4BIO.Test.API/obj/Debug/net9.0/apphost.exe
/4BIO.Test.API/obj/Debug/net9.0/EndpointInfo/4BIO.Test.API.json
/4BIO.Test.API/obj/Debug/net9.0/ref/4BIO.Test.API.dll
/4BIO.Test.API/obj/Debug/net9.0/refint/4BIO.Test.API.dll
/4BIO.Test.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/4BIO.Test.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/4BIO.Test.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/4BIO.Test.Application/bin/Debug/net9.0/4BIO.Test.Application.dll
/4BIO.Test.Application/bin/Debug/net9.0/4BIO.Test.Application.pdb
/4BIO.Test.Application/bin/Debug/net9.0/4BIO.Test.Domain.dll
/4BIO.Test.Application/bin/Debug/net9.0/4BIO.Test.Domain.pdb
/4BIO.Test.Application/obj/Debug/net9.0/4BIO.Test.Application.AssemblyInfo.cs
/4BIO.Test.Application/obj/Debug/net9.0/4BIO.Test.Application.AssemblyInfoInputs.cache
/4BIO.Test.Application/obj/Debug/net9.0/4BIO.Test.Application.csproj.AssemblyReference.cache
/4BIO.Test.Application/obj/Debug/net9.0/4BIO.Test.Application.dll
/4BIO.Test.Application/obj/Debug/net9.0/4BIO.Test.Application.pdb
/4BIO.Test.Application/obj/Debug/net9.0/4BIO.Test.Application.sourcelink.json
/4BIO.Test.Application/obj/Debug/net9.0/ref/4BIO.Test.Application.dll
/4BIO.Test.Application/obj/Debug/net9.0/refint/4BIO.Test.Application.dll
/4BIO.Test.Data/bin/Debug/net9.0/4BIO.Test.Data.dll
/4BIO.Test.Data/bin/Debug/net9.0/4BIO.Test.Data.pdb
/4BIO.Test.Data/bin/Debug/net9.0/4BIO.Test.Domain.dll
/4BIO.Test.Data/bin/Debug/net9.0/4BIO.Test.Domain.pdb
/4BIO.Test.Data/obj/Debug/net9.0/4BIO.Test.Data.AssemblyInfo.cs
/4BIO.Test.Data/obj/Debug/net9.0/4BIO.Test.Data.AssemblyInfoInputs.cache
/4BIO.Test.Data/obj/Debug/net9.0/4BIO.Test.Data.csproj.AssemblyReference.cache
/4BIO.Test.Data/obj/Debug/net9.0/4BIO.Test.Data.dll
/4BIO.Test.Data/obj/Debug/net9.0/4BIO.Test.Data.pdb
/4BIO.Test.Data/obj/Debug/net9.0/4BIO.Test.Data.sourcelink.json
/4BIO.Test.Data/obj/Debug/net9.0/ref/4BIO.Test.Data.dll
/4BIO.Test.Data/obj/Debug/net9.0/refint/4BIO.Test.Data.dll
/4BIO.Test.Domain/bin/Debug/net9.0/4BIO.Test.Domain.dll
/4BIO.Test.Domain/bin/Debug/net9.0/4BIO.Test.Domain.pdb
/4BIO.Test.Domain/obj/Debug/net9.0/4BIO.Test.Domain.AssemblyInfo.cs
/4BIO.Test.Domain/obj/Debug/net9.0/4BIO.Test.Domain.AssemblyInfoInputs.cache
/4BIO.Test.Domain/obj/Debug/net9.0/4BIO.Test.Domain.dll
/4BIO.Test.Domain/obj/Debug/net9.0/4BIO.Test.Domain.pdb
/4BIO.Test.Domain/obj/Debug/net9.0/4BIO.Test.Domain.sourcelink.json
/4BIO.Test.Domain/obj/Debug/net9.0/ref/4BIO.Test.Domain.dll
/4BIO.Test.Domain/obj/Debug/net9.0/refint/4BIO.Test.Domain.dll
/.vs/4BIO.Test.API/CopilotIndices/17.14.878.3237/CodeChunks.db
/.vs/4BIO.Test.API/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
/.vs/4BIO.Test.API/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
/.vs/4BIO.Test.API/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
